.container {
  position: absolute;
  max-width: 450px;
  background-color: rgba(252, 252, 252, 0.205);
  backdrop-filter: blur(50px);
  min-height: 500px;
  border-radius: 40px;
  padding: 30px 50px;
  color:  #000;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h2 {
  font-size: 1rem;
}

h1 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.container .credentials {
  position: relative;
  display: flex;
}

.credentials label{
  font-size: .8rem;
}

.credentials input {
  width: 100%;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  position: relative;
  outline: 0;
  margin-bottom: 10px;
  
}

input::placeholder{
  color: #5a5a5a;
}

.credentials .icon {
  position: absolute;
  top: 25%;
  left: 10px;
  color: #5a5a5a;
}

.recall-forget{
  display: flex;
  justify-content: space-between;

  padding: 10px 0;
  font-size: .8rem;
}

.recall-forget input{

  margin-right: 5px;
  
}

.recall-forget a{
   color:  #000;
  text-decoration: none;
}

button{
  background-color: #8E5554;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  opacity: 1;
}

button:hover{
  background-color: #783009;
}

p{
  text-align: center;
  font-size: .8rem;
}

#midea-social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.social{
  background-color: #fff;
  border-radius: 10px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .icon{
  width: 1.5rem;
  height: 1.5rem;
}
.facebook{
  color: #059BE5;
}


.signup-link p{
  font-size: 1rem;
}

.signup-link a{
  color:  #000;
  text-decoration: none;
  font-weight: bold;
  
}

@media screen and (max-width: 400px) {
  .container {
    padding: 20px 30px;

  }

  h1{
    font-size: 28px;
  }
  .signup-link p{
  font-size: 14px;
}
}