*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
 
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; 
}

img{
  width: 100%;
  height: 100%;

}