*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
 
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
}

img{
  width: 100vw;
  height: 100vh;
  object-fit: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

}

